/* App.css */

body {
  font-family: 'Arial', sans-serif;
  background-color: #3498db;
  color: #fff;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}


.container {
  margin: 40px auto;
  text-align: center;
  max-width: 800px;
  
}

b {
  font-size: large;
  border: 1px solid black;
  padding: 5px;
  font-weight: 800;
  background-image: linear-gradient(to right, #ff8c00, #ff4500);
  color: white;
  display: inline-block;
}

input {
  padding: 10px;
  margin: 10px;
  border: 2px solid #3498db;
  border-radius: 8px;
  width: fit-content;
  box-sizing: border-box;
  font-weight: 700;
  font-size: 1.2em;
  height: 40px;
  outline: none;
  transition: border-color 0.3s ease-in-out;
}

input:hover,
input:focus {
  border-color: #1abc9c;
}





button {
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 4px;
}

h2 {
  margin-top: 30px;
  color: #333;
  display: flex;
  justify-content: center;
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  font-size: 2.5em;
  color: #2c3e50;
  background-image: linear-gradient(to right, #3498db, #1abc9c);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  text-transform: uppercase;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


ul {
  list-style: none;
  padding: 0;
  margin: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 columns */
  gap: 20px; /* Adjust the gap between items */
}

li {
  font-weight: 900;
  margin: 20px;
  padding: 15px;
  border-radius: 8px;
  display: flex;
  width: 200px;
  height: 100px;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, #6cb6ff, #7c4dff); /* Gradient background */
  color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

}

/* App.css */

/* Add your existing styles here */

.loading-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Adjust as needed */
}

.loading-message {
  background-color: #4caf50;
  color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Add more styles as needed */


/* Add more styles as needed */
